In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv('data/senegal.csv')
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))
print(df.info())

| country   | survey_start_year   | year   | lat   | lon      | GID_1   | GID_2   | households   | rural   | iwi     |
|:----------|:--------------------|:-------|:------|:---------|:--------|:--------|:-------------|:--------|:--------|
| senegal   | 1992                | 1992   | 14.15 | -16.0667 | SEN.5   | SEN.5.2 | 4            | 0       | 36.1258 |
| senegal   | 1992                | 1992   | 14.15 | -16.0667 | SEN.5   | SEN.5.2 | 13           | 0       | 24.8631 |
| senegal   | 1992                | 1992   | 14.15 | -16.0667 | SEN.5   | SEN.5.2 | 10           | 0       | 40.1714 |
| senegal   | 1992                | 1992   | 14.15 | -16.0667 | SEN.5   | SEN.5.2 | 12           | 0       | 26.9143 |
| senegal   | 1992                | 1992   | 14.15 | -16.0667 | SEN.5   | SEN.5.2 | 10           | 0       | 42.0501 |
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2165 entries, 0 to 2164
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            2165 non-null   object
 1   survey_start_year  2165 non-null   int64
 2   year               2165 non-null   int64
 3   lat                2165 non-null   float64
 4   lon                2165 non-null   float64
 5   GID_1              2165 non-null   object
 6   GID_2              2165 non-null   object
 7   households         2165 non-null   int64
 8   rural              2165 non-null   int64
 9   iwi                2165 non-null   float64
dtypes: float64(3), int64(4), object(3)
memory usage: 169.3+ KB
None

In [ ]:
df_shuffled = df.sample(frac=1).reset_index(drop=True)
df_sorted_by_year = df_shuffled.sort_values(by='year')
df_sorted_by_year.to_csv('data/senegal_shuffled.csv', index=False)